* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    
    color: #00FF00;
    background-size: cover;
}
#img1{
    width: 40px;
    height: 40px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74vh;
}
input {
    width: 100px;
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: #00FF00;
  }
#clock{
    font-size: 8rem;
}
#myName{
    font-size: 3rem;
    margin-bottom: 3rem;
}
#wCity{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.cCc{
    font-size: 20px;
}
#tempIcon{
    font-size: 26px;
}
#weather{
    width: 50px;
    height: 50px;
}
#weathertemp{
    font-size: 30px;
}

.listBox{
    flex-direction: column;
}
#blank{
    font-size: 30px;
}
.hidden{
    display: none;
}
.quoteBox{
    height: 10vh;
    display: flex;
    flex-direction: column;
}
#verse{
    font-size: 1.7rem;
    margin: 0;
}
#chapter{
    font-size: 1.5rem;
    margin: 15px 0;
}
